<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Trip <%= @trip.id %> </title>
  </head>

  <h1>Trip #<%= @trip.id %></h1>

  <p><h3><a href="/trips/<%= @trip.id %>/edit">Edit</a></h3><br/>
    <form action="/trips/<%= @trip.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="Delete" />
    </form></p>


  <body>
    <h3>Duration: <%= @trip.duration %> seconds</h3><br/><br/>
    <div class="container">

      <table class="table">

        <thead>
          <th> Start Station</th>
          <th>End Station</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Bike</th>
        </thead>

        <tbody>
          <tr>
            <th scope="row>"><%= (Station.find(@trip.start_station)).name %></th>
              <td><%= (Station.find(@trip.end_station)).name %></td>
              <td><%= (BikeDate.find(@trip.start_date)).date %></td>
              <td><%= (BikeDate.find(@trip.end_date)).date %></td>
              <td><%= (@trip.bike_id) %></td>
        </tbody>
      </table>
    </div>
  </body>
</html>
