<h1>Trips Dashboard</h1>

<div class="album">
  <div class="jumbotron container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="">Average Ride Duration</h3>
        <h4><%= (Trip.average_duration_of_a_ride / 60).round(2) %> minutes</h4>
      </div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="col-md-6">
        <h3 class="card-text">Longest Ride</h3>
        <h4>Date: <%= Trip.day_with_longest_ride.date.strftime("%b %d, %Y") %></h4><br/>
        <h4><%= Trip.longest_duration_of_a_ride %> seconds</h4>
        <h4><%= Trip.longest_duration_of_a_ride / 60 %> minutes</h4>
        <h4><%= (Trip.longest_duration_of_a_ride / 60) / 60 %> hours</h4>
        <h4><%= ((Trip.longest_duration_of_a_ride / 60) / 60) / 24 %> days </h4>
        <h5>(someone just took their bike home, probably)</h5>
      </div>

      <div class="col-md-6">
        <h3>Shortest Ride</h3>
        <h4>Date: <%= Trip.day_with_shortest_ride.date.strftime("%b %d, %Y") %></h4><br/>
        <h4> <%= Trip.shortest_duration_of_a_ride %> second</h4>
      </div>
    </div>

    <br/><br/>


    <div class="row">
      <div class="col-md-6">
        <h3>Stations With Most Rides Beginning @</h3>
        <h4> <%= Trip.start_station_with_most_rides %></h4>
      </div>

      <div class="col-md-6">
        <h3>Stations With Most Rides Ending @</h3>
        <h4><%= Trip.end_station_with_most_rides %></h4>
      </div>
    </div>

    <br/><br/>


    <div class="row">
      <div class="col-md-12">

        <h3>Trips by Month</h3>

        <table class="table">

        <thead>
          <th>Year</th>
          <th>August</th>
          <th>September</th>
          <th>October</th>
          <th>November</th>
          <th>December</th>
          <th>January</th>
          <th>February</th>
          <th>March</th>
          <th>April</th>
          <th>May</th>
          <th>June</th>
          <th>July</th>
        </thead>

          <tbody>
            <tr>
              <th scope="row"> 2013 </th>
                <% Trip.monthly_subtotal_of_trips_per_year.each.with_index do |month, index| %>
                  <% if month[0].to_date.strftime("%Y") == "2013" %>
                    <% if month[0].to_date.strftime("%m") == "08"  %>
                                    <td><%= month[1] %></td>

                                  <% end %>
                    <% if month[0].to_date.strftime("%m") == "09" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "10"%>
                                      <td><%= month[1] %></td>
                                      <% end %>
                    <% if month[0].to_date.strftime("%m") == "11" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "12" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "01" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "02" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "03" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "04" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "05" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "06" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "07" %>
                                      <td><%= month[1] %></td>
                                    <% end %>

                  <% end %>
                  <% end %>
              </tr>

              <tr>
                <th scope="row">2014</th>
                <% Trip.monthly_subtotal_of_trips_per_year.each.with_index do |month, index| %>
                  <% if month[0].to_date.strftime("%Y") == "2014" %>
                    <% if month[0].to_date.strftime("%m") == "08"  %>
                                    <td><%= month[1] %></td>

                                  <% end %>
                    <% if month[0].to_date.strftime("%m") == "09" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "10"%>
                                      <td><%= month[1] %></td>
                                      <% end %>
                    <% if month[0].to_date.strftime("%m") == "11" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "12" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "01" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "02" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "03" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "04" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "05" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "06" %>
                                      <td><%= month[1] %></td>
                                      <% end %>

                    <% if month[0].to_date.strftime("%m") == "07" %>
                                      <td><%= month[1] %></td>
                                    <% end %>

                  <% end %>
                  <% end %>
                </tr>

                <tr>
                  <th scope="row">2015</th>
                  <% Trip.monthly_subtotal_of_trips_per_year.each.with_index do |month, index| %>
                    <% if month[0].to_date.strftime("%Y") == "2015" %>
                      <% if month[0].to_date.strftime("%m") == "08"  %>
                                      <td><%= month[1] %></td>

                                    <% end %>
                      <% if month[0].to_date.strftime("%m") == "09" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "10"%>
                                        <td><%= month[1] %></td>
                                        <% end %>
                      <% if month[0].to_date.strftime("%m") == "11" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "12" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "01" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "02" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "03" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "04" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "05" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "06" %>
                                        <td><%= month[1] %></td>
                                        <% end %>

                      <% if month[0].to_date.strftime("%m") == "07" %>
                                        <td><%= month[1] %></td>
                                      <% end %>

                    <% end %>
                    <% end %>
                </tr>
          </tbody>
      </table>
      </div>
    </div>

    <br/><br/>


    <div class="row">
      <div class="col-md-6">
        <h3>Most Ridden Bike</h3>
        <h4>Bike #<%= Trip.most_ridden_bike %></h4>
        <h4>Rides: <%= Trip.total_rides_for_most_ridden_bike %></h4>
       </div>

       <div class="col-md-6">
         <h3>Least Ridden Bike</h3>
         <h4>Bike #<%= Trip.least_ridden_bike %></h4>
         <h4>Rides: <%= Trip.total_rides_for_least_ridden_bike %></h4>
        </div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="col-md-6">
        <h3>Highest Number of Trips</h3>
        <h4>Date: <%= (Trip.date_with_most_trips).strftime("%b %d, %Y") %></h4>
        <h4>Number of Trips: <%= Trip.number_of_trips_on_day_with_most_trips %></h4>
      </div>

      <div class="col-md-6">
        <h3>Lowest Number of Trips</h3>
        <h4>Date: <%= (Trip.date_with_least_trips).strftime("%b %d, %Y") %></h4>
        <h4>Number of Trips: <%= Trip.number_of_trips_on_day_with_least_trips %></h4>
      </div>
    </div>

    <br/><br/>


    <div class="row">
      <div class="col-md-4">
        <h3>Customers</h3>
        <h4><%= Trip.number_of_customers %></h4>
      </div>

      <div class="col-md-4">
        <h3>Subscribers</h3>
        <h4><%= Trip.number_of_subscribers %></h4>
      </div>

      <div class="col-md-4">
        <h3>Percentage of Subscribers</h3>
        <h4><%= Trip.percentage_of_subscribers %>%</h4>
      </div>
    </div>

  </div>
 </div>
</div>
